<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.4.3/dist/css/foundation.min.css"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/styles.css">
    <title>User Profile</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/profile.js"></script>
</head>

<body>
    {{{ body }}}
</body>

</html>