<!-- This stores the application name, the hidden chat, the user name and profile button -->
<style>
    body {
        background-image: url("../images/background.jpg");
    }
</style>
<section id="chatbanner">
        <div><a href="./profile"><img src="./images/wK.png" alt="Link to Profile Page"></a>
    </div>
    
    <div id="chatjack">Jack Plays Chess</div>
    <!-- Drop down box stores the chat history and the chat input form on the right hand side -->
    {{!-- <div id="chat"
        style="position: absolute; right: 50px; float: right; width: 35%; display: flex; flex-direction: column; padding: 10px 5px;">

        <div id="message-container" style="width:100%;">
            <div style="padding: 20px; padding-top: 0px;">
                <p style="padding: 5px; margin-bottom: 0px;">Sam: Hi Jack, want to play a game?</p>
                <p style="color: white; background-color: #63bcd2; padding: 3px 5px; margin-bottom: 0px;">You:
                    Great idea I will go first</p>
                <p style="padding: 5px; margin-bottom: 0px;">Sam: OK I'll put down $20 that I will win</p>
                <p style="color: white; background-color: #63bcd2; padding: 3px 5px; margin-bottom: 0px;">You: I
                    accept your wager!</p>
            </div>
        </div>

        <form id="send-container" style="display: flex; flex-direction: row; height: auto; margin: 5px;">
            <input id="message-input" type="text" placeholder="message" required style="height: 40px; margin: 0px">
            <button type="submit" class="button" id="send-button">Send</button>
        </form>

    </div> --}}

    <div>{{users.username}}</div>
    <div><a href="./profile"><img src="./images/wK.png" alt="Link to Profile Page"></a>
    </div>
    
</section>
<div style="background-color: #07080d;">
    <div id="FenInDiv">
        Fen:<br />
        <input type="text" id="fenIn" />
        <button type="button" id="SetFen">Set Position</button>
    </div>

<br>

<section id="chess" style="width: auto; height: auto; padding: 5px; margin-top: 5px;">
    {{!-- <img src="./images/mock-board.png" alt="chessboard"> --}}
    <div id="FenInDiv">
        Fen:<br />
        <input type="text" id="fenIn" />
        <button type="button" id="SetFen">Set Position</button>
    </div>
    <div id="turn">
    </div>
    <div class="modal" id="message">
        <div class="modal-content">
            <h5 id="user-color"></h5>
            <button class="modal-message hollow button secondary tiny ">OK</button>
        </div>
    </div>

    <div id="scene">
    </div>

    <div id="buttons">
        <button id="new" class="hollow button secondary">New Game</button>
        <button id="ready" class="hollow button secondary">Ready</button>
        <button id="save" class="hollow button secondary">Save</button>
        <button id="replay" class="hollow button secondary">Replay</button>
    </div>

    <div id="Board">
    </div>
    <div id="EngineOutput">Thinking Time: <br />
        <select id="ThinkTimeChoice">
            <option value="1">1s</option>
            <option value="2">2s</option>
            <option value="4">4s</option>
            <option value="6">6s</option>
            <option value="8">8s</option>
            <option value="10">10s</option>
        </select><br /><br /><br />
        <span id="BestOut">BestMove:</span><br />
        <span id="DepthOut">Depth:</span><br />
        <span id="ScoreOut">Score:</span><br />
        <span id="NodesOut">Nodes:</span><br />
        <span id="OrderingOut">Ordering:</span><br />
        <span id="TimeOut">Time:</span><br /><br />
        <button id="ready">Ready</button>
        <button type="button" id="SearchButton">Move Now</button><br />
        <button type="button" id="NewGameButton">New Game</button><br />
        <button type="button" id="FlipButton">Flip Board</button><br /><br />
        <button type="button" id="TakeButton">Take Back</button><br /><br /><br />
        <span id="GameStatus"></span>
    </div>
</section>

<footer id="chatfooter">
    <div>USyd Boot Camp Feb 2020</div>
    <div>Project Two Chess Game</div>
    <div>&copy; Jasper Du, Rita Pang, Gerald Lam, Stewart Anstey</div>
</footer>


<script src="./js/chat-client.js"></script>
