<div class="welcomeHeader">
    <div>My Profile</div>

    <form class="login" id="loginForm">
        <div class="alert callout" id="errorEntry" style="display: none;">
            <p><i class="fi-alert"></i> Please enter a valid email address</p>
        </div>
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell small-12">
                    <label id="usernameLabel">Username: {{users.username}}
                    </label>
                </div>
                <div class="cell small-12">
                    <label id="usernameLabel">Skill Level: {{users.skillLevel}} </label>
                </div>
                <div class="cell small-12">
                    <label id="usernameLabel">Email:
                        <input id="userForm" type="text" placeholder="{{users.email}}" aria-describedby="emailField"
                            aria-errormessage="emailError" required>
                        <span id="formNameError" class="form-error">
                            This field is required.
                        </span>
                    </label>
                </div>
            </div>
            <button class="alert button" id="updateButton" type="submit" value="Submit">Edit my
                profile</button>
            <div>
                <p class="goToChess">Click <a href="./chat">here</a> to go back to the Game.</p>
            </div>
        </div>
    </form>
</div>
<footer id="chatfooter">
    <div>USyd Boot Camp Feb 2020</div>
    <div>Project Two Chess Game</div>
    <div>&copy; Jasper Du, Rita Pang, Gerald Lam, Stewart Anstey</div>
</footer>